/* Making the list less spaced out than the others */
.ewc ol {
    margin: 2px;
}
.ewc ol li {
    margin: 2px;
}

.ewcSmol {
    margin: 1px;
}
.ewcSmol ul {
    list-style-type: none;
}
.ewcSmol li {
    list-style-type: none;
}
.ewcSmol li::before {
    content: ">"; /* Insert content that looks like bullets */
    padding-right: 8px;
}

/* I don't like how spaced out the titles are */
body h1, h2, h3 {
    margin-bottom: 8px;
}

/* Adding a border */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
table {
    width: 60%;
}
th, td {
    width: 15%;
    text-align: center;
}