<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <nav>
      {% for item in site.data.navigation.toc %}
        <h3><a class="{% if page.url == item.link %}{% endif %}" href="{{ item.url }}">{{item.title }}</a></h3>
        <ul>
          {% for entry in item.subfolderitems %}
            <li><a class="{% if page.url == entry.link %} active{% endif %}" href="{{ entry.url }}">{{ entry.title }}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
    </nav>
    {{ content }}

    <style>
      nav ul {
        display: flex;
        list-style: none;
      }
      nav ul li {
        margin-right: 10px;
      }
      nav ul li a {
        text-decoration: none;
      }
      nav ul li a:hover {
        text-decoration: underline;
      }
      .active {
        text-decoration: italics;
      }
    </style>
  </body>
</html>
